.idea
.vscode
.gitattributes
*.pyc
*.flv
*.jpg
*.mp4
*.part
backup
venv
__pycache__

pdm.lock
.pdm-python

!public/config.yaml
/configlog.ini
ds_update.log*
*.cookie
*.zip
*.exe
*.egg-info
dist/
build/
cover/

*.back
bili.cookie.json
archive.txt
/node_modules
watch_process.pid
package-lock.json
biliup/**/public
*.json
qrcode.png
*.log
./*.ts
/biliup/stream-gears/
data/
